$blanco: #fff;
$negro: #000;
$titulo: #000;
$texto: #000;
//
$primario-0: #33D5AE;
$primario-1: #4C87E9;
$secundario-0: #F0F0F0;
$secundario-1: #6F6E81;
$secundario-2: #D8D8D8;
$secundario-3: #4A4A4A;
$secundario-4: #9B9B9B;
$secundario-5: #080B0F;
$secundario-6: #D6E8D2;
$secundario-7: #979797;
$secundario-8: #DFEEE9;
$ternario-0: #DFEEE9;
$ternario-1: #D6E8D2;

$colores: (
blanco $blanco,
negro $negro,
titulo $titulo,
texto $texto,
primario-0 $primario-0,
primario-1 $primario-1,
secundario-0 $secundario-0,
secundario-1 $secundario-1,
ternario-0 $ternario-0,
ternario-1 $ternario-1
);


@each $value in $colores {

  .color-#{nth($value, 1)} {
    & {
      color: nth($value, 2) !important;
    }
  }
  .color-#{nth($value, 1)}-bg {
    & {
      background-color: nth($value, 2) !important;
    }
  }
  .color-#{nth($value, 1)}-bd {
    & {
      border: 1px solid white;
      border-color: nth($value, 2) !important;
    }
  }

  .color-#{nth($value, 1)}-hover:hover {
    & {
      color: nth($value, 2) !important;
    }
  }
  .color-#{nth($value, 1)}-hover-bg:hover {
    & {
      background-color: nth($value, 2) !important;
    }
  }
  .color-#{nth($value, 1)}-hover-bd:hover {
    & {
      border: 1px solid white;
      border-color: nth($value, 2) !important;
    }
  }

//cortinas transparentes
.cortina-#{nth($value, 1)}-bg {
  & {
    background-color: nth($value, 2) !important;
    opacity: 0.5;
  }
}

}
